body,
html {
  margin: 0;
}
/* cabecera */
header {
  width: 100%;
  height: 200px;
  background-color: aqua;
  background-image: url(../imagenes/fondo1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
}
/* imagen */
#logo {
  width: 70px;
  border-radius: 100px;
  box-shadow: 0px 2px 6px 3px rgba(0, 0, 0, 0.75);
}

#letrero {
  border-radius: 20px;
  width: 200px;
  margin-left: px;
  box-shadow: 0px 2px 10px 12px rgba(255, 255, 255, 0.75);
}
/* barra de navegacion */
nav {
  width: 700px;
  margin: auto;
  height: 30px;
  margin-top: 10px;
  text-align: center;
}
/* links de barra de navegacion */
nav a {
  text-decoration: none;
  background: linear-gradient(
    to bottom,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 50%,
    rgba(188, 224, 238, 1) 100%
  );
  color: black;
  padding: 2px;
  border-radius: 4px;
}
/* efecto de barra navegacion */
nav a:hover {
  background: linear-gradient(
    to bottom,
    rgba(239, 197, 202, 1) 0%,
    rgba(210, 75, 90, 1) 50%,
    rgba(186, 39, 55, 1) 51%,
    rgba(241, 142, 153, 1) 100%
  );
}
/* contenedor */
.contenedor {
  width: 700px;
  margin: auto;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.izquierdo {
  background-color: rgb(240, 242, 244);
  height: 100%;
  font-weight: bold;
  color: rgb(55, 55, 145);
}

.izquierdo a {
 text-decoration: none;
 color: rgb(4, 125, 246);

}





/* contenido div izquierdo */
.bienvenido {
  width: 100%;
  height: 100px;
}
#pelota {
  width: 20px;
  margin-left: -50px;
}



th {
  width: 200px;
  background: linear-gradient(
    to bottom,
    rgba(142, 219, 242, 1) 0%,
    rgba(142, 219, 242, 1) 18%,
    rgba(212, 228, 239, 1) 38%,
    rgba(212, 228, 239, 1) 53%,
    rgba(212, 228, 239, 1) 100%
  );
}
.miembros {
  width: 100%;
  height: 166px;
}

#membresia {
  width: 200px;
}
.entrenadores {
  width: 100%;
  height: 166px;
}

#entrenadores {
  width: 200px;
  height: 115px;
}
.historias_exito {
  width: 200%;
  height: 167px;
}

#exito {
  width: 200px;
}

/* recuadro derecho */
.derecho {

  height: 100%;
}

.derecho h2{
  color: rgb(4, 125, 246);
  text-align: center;
}


.opciones {
  display: flex;
}

.btn_derecho {
  width: 100px;
  height: 100px;

  margin-left: 18px;
  text-align: center;
  font-size: 10px;
  border-radius: 5px;
}

.sombra:hover{
  -webkit-box-shadow: 0px -1px 8px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 8px 4px rgba(0,0,0,0.75);
box-shadow: 0px -1px 8px 4px rgba(0,0,0,0.75);
}

.btn_derecho a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.btn_derecho p {
  margin-top: 30px;
  text-decoration: none;
}

.boton_derechoUno {
  background: linear-gradient(
    to bottom,
    rgba(153, 190, 235, 1) 0%,
    rgba(153, 190, 235, 1) 15%,
    rgba(13, 122, 231, 1) 50%,
    rgba(145, 185, 237, 1) 100%
  );
}

.boton_derechoDos {
  background: linear-gradient(
    to bottom,
    rgba(235, 165, 153, 1) 0%,
    rgba(235, 165, 153, 1) 15%,
    rgba(231, 35, 13, 1) 50%,
    rgba(237, 161, 145, 1) 100%
  );
}

.boton_derechoTres {
  background: linear-gradient(
    to bottom,
    rgba(237, 151, 190, 1) 0%,
    rgba(237, 151, 190, 1) 15%,
    rgba(236, 9, 122, 1) 50%,
    rgba(239, 143, 185, 1) 100%);
}

.boton_derechoCuatro a{
  color: rgb(4, 125, 246);
}
.boton_derechoCuatro li{
  margin-left: -20px;
  text-align: left;
}

  /* CONTENIDO DERECHO IMAGENES */

.entrenando{
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
}

#mujer1{
  width: 66%;
  height: 170px;
}

#mujer2{
  width: 30%;
  
}

/* PLAN DE ENTRENAMIENTO */
.plan_entrenamiento{
  margin: auto;
  width: 90%;
  text-align: justify;
}

.plan_entrenamiento a{
  text-decoration: none;
  color:rgb(4, 125, 246);
}


footer {
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgb(125, 210, 236) 30%, rgb(185, 217, 230) 59%, rgba(188,224,238,1) 100%);
  margin-top: 10px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

footer img{
  margin-top: 5px;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 20px;

}

footer a{
  text-decoration: none;
  color:rgb(4, 125, 246);
}
